/.venv/
/SimpleCrawler/.env
/MatchWeb/.env
/MatchWeb/users.json
/titan007_match_status_snapshot.tsv
*.egg-info/
.DS_Store
/SimpleCrawler/__pycache__
/SimpleCrawler/simple_crawler/__pycache__
/MatchWeb/__pycache__